<%= render "shared/header" %>

<body>
<div id="wrapper">
    <%= form_with model: @nutrient, local: true do |f| %>
      <div class="form">
          <%= f.datetime_select :start_time %>
        <div class="weight-bold-text">
          購入した食材
          <span class="indispensable">必須</span>
        </div>
        <% 10.times do |i| %>
        <div class="food-input">
          <%= f.collection_select(:"food_id_#{i}", First.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
          <%= f.collection_select(:"number_id_#{i}", Number.all, :id, :name, {}, {class:"food-number-input", id:"item-category"}) %>
          <% i += 1 %>
          <div class="food-number">個</div>
        </div>
        <% end %>
          <%= f.submit "登録する" ,class:"sell-btn" %>
    <% end %>
</div>
</body>

<%= render "shared/footer" %>